body {
  text-align: center;
}

/*why can I not simply use 'h1' as a selector without the container superclass?*/
.container h1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

h2 {
  text-align: left;
}

#destinations {
  display: none;
}

label {
  margin-top: 7px;
}
